<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.numberqestion.repository.numberQestionMapper">

    <!-- 全プレイ履歴を取得 -->
    <select id="selectAll" resultType="com.example.numberqestion.entity.qestion">
        SELECT id, play_date, play_name FROM question WHERE id = #{id}
    </select>

    <!-- プレイ履歴を追加 -->
    <insert id="insert">
        INSERT INTO question (id, play_date, play_name) 
        VALUES (#{id}, #{playDate}, #{playName})
    </insert>

    <!-- プレイ履歴を削除 -->
    <delete id="delete">
        DELETE FROM question WHERE id = #{id}
    </delete>

</mapper>
